<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hopefully there's some good meat down below</h1>

    <ul id="meaty-container"></ul>

    <script src="scripts/main.js"></script>
  </body>
</html>
